.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body{
  background-color: white;
  background-image: url("../images/bg-pattern-top-desktop.svg"),url("../images/bg-pattern-bottom-desktop.svg");
  background-size: 52%,110%;
  background-position: 20px -20px,-90px 100px;
  background-repeat: no-repeat,no-repeat;
  font-family: 'Spartan', sans-serif;
  padding:160px 110px 0 170px;
}



/* Header Row */
.first-row{
  padding:0 0 50px;
}
/* First Column */
.first-row div h1{
  color:hsl(300, 43%, 22%);
  margin:0 110px 20px 150px;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}
.first-row div p{
  color:hsl(303, 10%, 53%);
  font-family: 'Spartan', sans-serif;
  font-size:13px;
  font-weight: 500;
  letter-spacing: -0.25PX;
  margin:0 60px 20px 150px;
}
/* Second Column */
.review-div{
  background-color: hsl(300, 24%, 96%);
  border-radius: 0.50rem;
  color:hsl(300, 43%, 22%);
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin:18px 0 0 0;
  padding:15px 30px;
  width:60%;
}
/* .review-div-1{
  margin-left:10px;
} */

.fa-solid{
  color:hsl(30, 71%, 47%);
  font-size: 12px;
  letter-spacing: 2px;
}
.last_star {
  margin-right: 20px;
}
/* Lower row */

.second-row{
  font-family: 'Spartan', sans-serif;
  padding:70px 170px 50px 160px;
}
.profile-image-short{
  border-radius:100%;
  height:35px;
  width:35px;
  margin-left: 15px;
  margin-right: 15px;
}
.review-col{
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
  color:white;
  font-family: 'Spartan', sans-serif;
  font-size:10px;
  line-height: 180%;
  padding-top:30px;
  padding-left:15px;
  padding-right:10px;
  text-align: left;
  width:96%;
}
.review-col h6{
  display:inline;
  font-size:11px;
  font-weight:700;
  line-height: 0;
}
.review-col span{
  color:hsl(333, 80%, 67%);
  display:block;
  line-height: 0;
  margin-top:8px;
}
.review-col p{
  margin:30px 15px 20px 15px;
  padding-bottom: 25px;
}

/* Media Queries */
@media (max-width: 768px){
  body{
    background-color: white;
    background-image: url("../images/bg-pattern-top-mobile.svg"),url("../images/bg-pattern-bottom-mobile.svg");
    background-size: 85%,100%;
    /* background-position: 20px -20px,-90px 100px; */
    background-position: 0 0,0 800px;
    background-repeat: no-repeat,no-repeat;
    font-family: 'Spartan', sans-serif;
    padding:50px 50px 50px 50px;
  }
  /* First Column */
  .first-row div h1{
    margin:0 20px 20px 60px;
    text-align: center;
  }
  .first-row div p{
    margin:0 30px 20px 50px;
    text-align: center;
  }
  .review-div{
    font-size: 11px;
    letter-spacing: 0;
    margin:18px 0 0 50px;
    padding:15px 0 20px 20px;
    width:80%;
  }
  .last_star {
    margin-right: 10px;
  }
  .second-row{
    padding:0 25px 0 50px;
  }
  .review-col{
    margin-bottom:20px;
    text-align: left;
    font-size:11px;
    width:100%;
  }
  .review-col p{
    margin:25px 30px 30px 25px;
  }
  .profile-image-short{
    margin-left: 30px;
  }

  .review-col h6{
    margin-left:10px;
  }
  .review-col span{
    margin-left:10px;
  }

}
@media only screen and (min-width: 768px) {
  .review-div-2{
    margin-left:30px;
  }
  .review-div-3{
    margin-left:60px;
  }
  .review-third-col{
    margin-top:40px;
  }
  .review-second-col{
    margin-top:20px;
  }
}
